.search-bar {

    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    border: 2px red solid;
    

}

.video-item img {
    max-width: 64px;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    background-color: #eee;
}
<<<<<<< HEAD
=======
body{
    background: linear-gradient(black, darkgray);
}
>>>>>>> 41c1a214e3d79c7eac9c5af6516015c9e2a63e89
